* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#nav {
    background-color: white;
    padding-top: 20px;
    padding-left: 25px;
}

body{
    background-color: #f6f8f9;
}

#toboolist{
    display: inline-block;
    font-size: 50px;
    line-height: 100px;
    vertical-align: super;
 }

header{
    background-color: white;
    width: 800px;
    display: block;
    margin: auto;
    margin-top: 30px;
    line-height: 65px;
 }

 #add-task{
    line-height: 30px;
    margin-left: 80px;
    border-radius: 5px;
    background-color: #47ADF1;
    color: white;
    padding-left: 10px;
    padding-right: 10px;

 }

 #add-section{
    line-height: 30px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #FFFFFF;
    color: #CDD2D7;

}

main {
    background-color: white;
    width: 800px;
    display: block;
    margin: auto;
    

}

section{
    margin-left: 80px;
}

.new-task{
    display: inline-block;
    padding-bottom: 10px;
    padding-top: 15px;

}

.list-item{
    margin-left: 0px;
    list-style-type: none;
    padding-bottom: 15px;
    

}

.editorial{
    color: white;
    background-color: #47ADF1;
    border-radius: 5px;
    padding: 3px;
}

#q1goals{
    color: white;
    background-color: purple;
    border-radius: 5px;
    padding: 3px;
}

#recruiting{
    color: white;
    background-color: rgb(1, 139, 105);
    border-radius: 5px;
    padding: 3px;
}

#mobile{
    color: white;
    background-color: orange;
    border-radius: 5px;
    padding: 3px;

}

#website{
    color: white;
    background-color: palevioletred;
    border-radius: 5px;
    padding: 3px;
}

#sales {
    color: white;
    background-color: rgb(93, 155, 0);
    border-radius: 5px;
    padding: 3px;

}